{% extends 'main.html' %}

{% block content %}

<div class="update-card">
  <h3>Edit Task</h3>

  <form method="post">
    {% csrf_token %}

    <div class="update-form-group">
      <label>Title</label>
      {{ form.title }}
    </div>

    <div class="update-form-group">
      <label>Description</label>
      {{ form.description }}
    </div>

    <div class="update-form-group">
      <label>Completed</label>
      {{ form.is_completed }}
    </div>

    <button type="submit">Save</button>
    <a href="{% url 'home' %}" class="update-btn-secondary">Cancel</a>
  </form>
</div>

{% endblock content %}
