{% extends 'main.html' %}

{% block content %}

<div class="pass-card">
  <h3>Forgot Password</h3>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="pass-form-group">
      <label>Username</label>
      {{ form.username }}
    </div>

    <div class="pass-form-group">
      <label>New Password</label>
      {{ form.new_password }}
    </div>

    <div class="pass-form-group">
      <label>Confirm Password</label>
      {{ form.new_password2 }}
    </div>

    <button type="submit">Set New Password</button>
  </form>
</div>

{% endblock content %}
